In [4]:
import numpy

user_item_rating = numpy.array([[5, 3, 0, 1],
                                [4, 0, 0, 1],
                                [1, 1, 0, 5],
                                [1, 0, 0, 4],
                                [0, 1, 5, 4]])

numpy.savetxt("foo.csv", user_item_rating, delimiter=",")

In [9]:
from surprise import SVD
from surprise import Dataset
from surprise import Reader
from surprise.model_selection import cross_validate

reader = Reader(line_format='user item rating timestamp', sep=',')


# Load the movielens-100k dataset (download it if needed).
data = Dataset.load_from_file('foo.csv', reader)

# Use the famous SVD algorithm.
algo = SVD()

# Run 5-fold cross-validation and print results.

In [10]:
cross_validate(algo, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    1.2500  1.5447  1.1446  4.0000  1.1259  1.8131  1.1037
MAE (testset)     1.2500  1.5447  1.1446  4.0000  1.1259  1.8131  1.1037
Fit time          0.00    0.00    0.00    0.00    0.00    0.00    0.00
Test time         0.00    0.00    0.00    0.00    0.00    0.00    0.00

{'test_rmse': array([1.25      , 1.54473597, 1.14461364, 4.        , 1.12592823]),
 'test_mae': array([1.25      , 1.54473597, 1.14461364, 4.        , 1.12592823]),
 'fit_time': (0.0006060600280761719,
  0.0005548000335693359,
  0.0006458759307861328,
  0.0007169246673583984,
  0.0006721019744873047),
 'test_time': (3.814697265625e-05,
  3.910064697265625e-05,
  3.504753112792969e-05,
  3.0994415283203125e-05,
  5.0067901611328125e-05)}

In [17]:
import pandas as pd
import numpy
import matplotlib.pyplot as plt
%matplotlib inline

In [14]:
u_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']
r_cols = ['user_id', 'movie_id', 'rating', 'timestamp']
m_cols = ['movie_id', 'title', 'release_date', 'video_release_date', 'imdb_url']

In [19]:
movies = pd.read_csv('/Users/Olamilekan/Desktop/ml-latest-small/movies.csv')
ratings = pd.read_csv('/Users/Olamilekan/Desktop/ml-latest-small/ratings.csv')
tags = pd.read_csv('/Users/Olamilekan/Desktop/ml-latest-small/tags.csv')

# Convert genres to one hot encoding
df = pd.merge(movies, ratings)
mdf = pd.concat([df.drop('genres', axis=1), df.genres.str.get_dummies(sep='|')], axis=1)

In [31]:
import re

def year(title):
    year=re.search(r'\(\d{4}\)', title)
    if year:
        year=year.group()
        return int(year[1:5])
    else:
        return 0
    
# dfy=dfz.rename(columns = {'Name':'title'})

moviedf = movies
moviedf['year']=moviedf['title'].apply(year)
moviedf.title = moviedf.title.str[:-7]

# df_xxx = pd.merge(moviedf, dfy, on='title', how='outer')

avg_rates_year2=mdf[['year','rating']].groupby('year').mean()

plt.subplot(212)
a2=plt.plot(avg_rates_year2)
plt.title('Average ratings of movies made per year ',fontsize=16)
plt.grid(True)
plt.xlim(1915, 2015)

plt.tight_layout()

KeyError: "['year'] not in index"

In [32]:
mdf.head()

,movieId,title,userId,rating,timestamp,(no genres listed),Action,Adventure,Animation,Children,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),1,4.0,964982703,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,1,Toy Story (1995),5,4.0,847434962,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
2,1,Toy Story (1995),7,4.5,1106635946,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
3,1,Toy Story (1995),15,2.5,1510577970,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
4,1,Toy Story (1995),17,4.5,1305696483,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0

In [33]:
moviedf.head()

   movieId title                                       genres  year
0        1        Adventure|Animation|Children|Comedy|Fantasy     0
1        2                         Adventure|Children|Fantasy     0
2        3                                     Comedy|Romance     0
3        4                               Comedy|Drama|Romance     0
4        5                                             Comedy     0

In [41]:
dt['year'] = moviedf['year']

In [42]:
dt['ratings'] = df['rating']

In [44]:
type(dt)

pandas.core.series.Series